.about {
  margin-top: 6rem;
  width: 100%;
  height: 100%;
}

.about li {
  list-style: none;
}

.about-main {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.text-center h2 {
  font-size: 40px;
}

.text-center p {
  margin-top: 1rem;
  font-style: italic;
  color: #6c757d;
}

.timeline {
  width: 100%;
  position: relative;
}

.timeline-heading h4 {
  font-size: 25px;
}

.timeline li {
  margin: 8rem 0;
}

.timeline-image {
  width: 10.62rem;
  height: 10.62rem;
  border-radius: 50%;
  background-color: #ffc800;
  margin: auto;
}

.timeline-image img {
  width: 10.62rem;
  height: 10.62rem;
  border-radius: 50%;
  border: 7px solid #e7eaec;
  margin-bottom: 4rem;
}

.timeline-image-line::after {
  content: "";
  position: absolute;
  border-left: 2.5px solid #e7eaec;
  height: 1200px;
  align-items: center;
  left: 50%;
  z-index: -1;
}

.timeline-panel {
  position: absolute;
  left: 10%;
  width: 28%;
  text-align: right;
}

.timeline-panel p,
.right p {
  color: #6c757d;
  letter-spacing: 0.5px;
  padding-top: 1rem;
  font-size: medium;
  line-height: 25px;
  font-weight: 450;
}

.right {
  position: absolute;
  right: 10%;
  width: 28%;
  text-align: left;
}

.yellow-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background-color: #ffc800;
  color: #f8f9fa;
  font-size: larger;
  font-weight: 600;
  border: 7px solid #e9ecef;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .inverted {
    background-color: red;
  }
}
