.brands {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 4rem 0;
}

.brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 85%;
}

.brand img {
  gap: 30px;
  height: 2.75rem;
}
