#contact {
  width: 100%;

  position: relative;
  background-color: #111212;
  background-image: url(../assets/img/map-image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contact-center {
  text-align: center;
  padding: 6rem 0;
}

.contact-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-bottom: 2rem;
}

.contact-title {
  color: white;
  margin-bottom: 2rem;
}

.contact-title h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.contact-title p {
  font-style: italic;
  color: #6c757d;
  font-size: larger;
}

input {
  padding-left: 20px;
  height: 15vh;
  width: 42vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0.5rem;
  border-radius: 5px;
}

textarea {
  margin-top: 0;
  border-radius: 5px;
  padding: 20px 20px;
  width: 41vw;
  height: 34.3vh;
}

input[type="text"]::placeholder,
input[type="e-mail"]::placeholder,
input[type="phone-number"]::placeholder,
textarea::placeholder {
  color: #d3d5d8;
  font-weight: 800;
  font-size: larger;
}

input[type="text"]:focus,
input[type="e-mail"]:focus,
input[type="phone-number"]:focus,
textarea:focus {
  border: 1px solid #ffca0b;
}

:focus {
  outline: 0;
}

button {
  opacity: 0.5;
}
