footer {
  height: 10%;
  display: flex;
  justify-content: center;
}

.bottom {
  width: 85%;

  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.bottom p {
  font-weight: 100;
  color: #6c757d;
}

.bottom-right a {
  color: #6c757d;
  text-decoration: none;
}

.icons {
  display: flex;
  position: relative;
  right: 0.5rem;
  gap: 20px;
}

.icons .footer-social-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #111212;
}

.icons .footer-social-icon i {
  font-size: 16px;
  color: white;
}
