portfolio {
  width: 100%;
}

.portfolio-main {
  width: 100%;
  align-items: center;
  text-align: center;
  background-color: #f8f9fa;
  padding-bottom: 0.5rem;
}

.portfolio-title h2 {
  padding-top: 6rem;
  font-size: 40px;
}

.portfolio-title p {
  font-style: italic;
  margin-top: 20px;
  color: #6c757d;
  font-size: larger;
}

.portfolio-photos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 1rem;
}

.portfolio-main img {
  max-width: 100%;
  height: auto;
}

.portfolio-img {
  background-color: white;
  max-width: 26.2rem;
}

.img-text {
  padding: 1.5rem;
}

.img-text h1 {
  font-size: 28px;
  margin-bottom: 6px;
}

.img-text p {
  color: #6c757d;
  font-style: italic;
  font-size: large;
  font-weight: 500;
}
